{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/how-to-play', 'how-to-play', 'How to Play'),
    ('/license', 'license', 'License')
] -%}

{% set active_page = active_page|default('home') -%}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}

    <title>Revenents</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-main fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/favicon.svg') }}" style="height: 1em;"> Revenents</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- Items that appear in navbar regardless of authentication -->
                    {% for href, id, caption in navigation_bar %}
                    <li class="nav-item {% if id == active_page %} active {% endif %}">
                        <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Page Content -->
    <div class="container content">

        {% block content %}{% endblock %}

    </div>
    <!-- End Page Content -->

    <!-- Footer Content -->
    <footer class="footer">
        <div class="container">
            <a class="m-0 text-light" href="https://github.com/Kyle-L/Revenents"><i class="fa fa-github" aria-hidden="true"></i> View Source</a>
        </div>
    </footer>
    <!-- End Footer Content -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/d81f892777.js"></script>

    <!-- SocketIO-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <!-- Main JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- For page specific scripts -->
    {% block script %}{% endblock %}
</body>

</html>