{% extends 'base.html' %}
{% set active_page = "about" %}

{% block content %}

<!-- Header -->
<header class="bg-main text-white jumbotron my-4">
    <h3 class="card-title text-center">Room Code: {{ room }}</h3>
    <table >
        <thead>
            <th>
                Players
            </th>
        </thead>
        <tbody id='players'>

        </tbody>
    </table>
    <p id='timer'>
         blah   
    </p>
    <button id="ready-button" class="btn btn-primary btn-lg" onclick="ready();">Ready!</button>
</header>

{% endblock content%}

{% block script %}
    <script type=text/javascript src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock script %}