{% extends 'base.html' %}
{% set active_page = "about" %}

{% block content %}

<!-- Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">Game!</h1>
    <p id='players'>
            
    </p>
    <p id='timer'>
         blah   
    </p>
    <button class="btn btn-primary btn-lg" onclick="start();">Call to action!</button>
</header>

{% endblock content%}

{% block script %}
    <script type=text/javascript src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock script %}