{% extends 'base.html' %}
{% set active_page = "about" %}

{% block content %}

<!-- Header -->
<header class="bg-main jumbotron my-4">
  <h3 id="status-text" class="card-title text-center"></h3>
  <embed src="{{ url_for('static', filename='sound/music.mp3') }}" autostart="true" loop="true" width="2" height="0">
  </embed>

  <div id="game" class="hidden">
    <div id="lobby" class="hidden">
      <p>Room Code: {{ room }}</p>
      <p id="win-text" class="hidden"></p>
      <table class="table text-white">
        <thead>
          <th scope="col">Players</th>
        </thead>
        <tbody id="players">

        </tbody>
      </table>
    </div>

    <div id="setup" class="hidden">
      <p id="role-name"></p>
      <p id="role-description"></p>
    </div>

    <div id="results" class="hidden">
      <p>Results General</p>
      <ul id="results-text-general"></ul>

      <p>Results Private</p>
      <ul id="results-text-private"></ul>
    </div>

    <div id="round" class="hidden">
      <p id="round-text"></p>
      <div id="round-radio">
        <label class="radio-container">One
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">Two
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">Three
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">Four
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <button id="ready-button" class="btn button btn-lg" onclick="ready();">Ready!</button>
    <p id="ready-status"></p>
  </div>

</header>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}