{% extends 'base.html' %}
{% set active_page = "how-to-play" %}

{% block content %}

<!-- Header -->
<header class="bg-main jumbotron my-4">
    <h1 class="display-3">Set Up</h1>
    <p class="lead">Learn what happens during set up.</p>

    <p>Assemble a group of players. An odd number is best, although not absolutely mandatory. There should be at least seven players.
    Once all players have joined a single room and selected 'I am ready!' the game will automatically start. At this point, each player is assigned a role. You can learn more about what each role can do below.
    Each play should carefully read about their role and keep it a secret. However, they should also introduce who they. (Example: Hey, I'm Matt. I'm the baker here in town, and I'm a villager.</p>
    <p>You can learn more about the roles <a href="/how-to-play/roles">here</a>.</p>
    <p>The game proceeds in alternating night and day rounds beginning with night.</p>

</header>

<header class="bg-main jumbotron my-4">
    <h1 class="display-3">Night</h1>

    <p>At night, each player will be given a list of other players and all of the actions that their role can perform.</p>
    <p>It is during this phase that all players should remain quiet and not speak to each other.</p>
    <p>Once all players have chosen another player to perform their role’s action on and selected ‘I am ready!’, the game will progress to the results of the night where it will display general events that happened to the village as well as event that happened specifically to you.</p>

</header>

<header class="bg-main jumbotron my-4">
    <p class="display-4">Day</p>

    <p>Daytime is very simple; all the living players gather in the village, discuss who they think should be killed, and then decide who to lynch. As soon as all players have chosen a particular player to lynch and selected 'I am ready!' the game will progress to a result screen to show who has been chosen to be killed.</p>
</header>

<header class="bg-main jumbotron my-4">
    <p class="display-4">Winning</p>
    <p>Villagers win if they kill the Revenants.</p>
    <p>The Revenants win if they kill enough villagers so that the numbers are even. (Example: Two Revenants and two Villagers)</p>

</header>



{% endblock content%}