{% extends 'base.html' %}
{% set active_page = "how-to-play" %}

{% block content %}

<!-- Header -->
<header class="bg-main text-white jumbotron my-4">
    <h1 class="display-3">How to Play!</h1>
    <p class="lead">There's nothing here yet.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis accumsan turpis. Integer eget risus sit amet
        urna vulputate cursus. Phasellus pretium velit at sem semper egestas. Donec elementum ullamcorper orci sed
        varius. In hac habitasse platea dictumst. Aenean sed vestibulum purus. Sed ex libero, eleifend condimentum
        sagittis sit amet, posuere id ex. Phasellus a mi vel mauris posuere ornare sit amet ut arcu. Curabitur dictum a
        elit at pretium. </p>

    <p>Maecenas at enim et elit elementum cursus sit amet sed arcu. Vivamus eu magna quam. Nulla ut interdum massa, eu
        pulvinar ligula. Donec pulvinar commodo nisi, non suscipit quam aliquet vitae. Mauris ipsum orci, cursus non
        nisl ut, pretium tincidunt ante. Suspendisse at libero dapibus, euismod risus in, luctus felis. Nulla dignissim
        faucibus purus, hendrerit viverra odio viverra nec. Nunc at sapien et ante condimentum rutrum. Aenean pretium mi
        in dui tempus, vel pharetra risus sollicitudin. Integer ac facilisis turpis. Quisque gravida turpis magna,
        blandit luctus augue posuere vitae. Cras vel arcu mauris. Sed porttitor neque id massa malesuada volutpat.
        Phasellus pretium scelerisque sapien, et posuere arcu bibendum a. Sed sagittis commodo massa. </p>

</header>

{% endblock content%}