{% extends 'base.html' %}
{% set active_page = "home" %}

{% block content %}

<!-- Header -->
<div class="jumbotron my-4">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Host a Session</h3>
		<div class="card-text">
			<form method="POST" action="/">
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control form-control-sm" type="name" name="name" placeholder="Enter your name" autofocus="">
				</div>
				<button type ="submit" class="btn btn-primary btn-block" name="action" value="host">Host</button>
			</form>
		</div>
	</div>
</div>
</div>

<div class="jumbotron my-4">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Join a Session</h3>
		<div class="card-text">
			<form method="POST" action="/">
				<div class="form-group">
					<label for="name">Name</label>
					<input class="form-control form-control-sm" type="name" name="name" placeholder="Enter your name" autofocus="">
				</div>
				<div class="form-group">
					<label for="room code">Room Code</label>
					<input class="form-control form-control-sm" type="room" name="room" placeholder="Enter your name" autofocus="">
				</div>
				<button type ="submit" class="btn btn-primary btn-block" name="action" value="join">Join</button>
			</form>
		</div>
	</div>
</div>
</div>


{% endblock content%}