{% extends 'base.html' %}
{% set active_page = "home" %}

{% block content %}

<!-- Header -->
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="name" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="room" name="room" placeholder="Room" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Join</button>
        </form>
    </div>
</div>

{% endblock content%}